<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">DevNdea</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li [routerLinkActive]="'{active}'" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link scrollto active" [routerLink]="''" fragment="">Home</a></li>
          <li><a class="nav-link scrollto" [routerLink]="''" fragment="about">About</a></li>
          <li><a class="nav-link scrollto" [routerLink]="''" fragment="service">Services</a></li>
          <li><a class="nav-link scrollto " [routerLink]="''" fragment="work">Work</a></li>
          <li><a class="nav-link scrollto " [routerLink]="''" fragment="">Blog</a></li>
          <li><a class="nav-link scrollto" [routerLink]="''" fragment="contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header>
